/* Note:  The figma spec sheet had little detail.  I'm making guesses and otherwise just trying to make it look okay,
but I would definitely be seeking much more detailed specs or refer to a style guide IRL 

One thing that isn't clear is how to handle overflow of the list.  I assume we would apply pagination and vertical scrolling if the number of users exceeded the screen size, but without clarity on that, I'm skipping it in my styling choices.
*/
.app-container {
  padding: 1rem;
}

.searchbar-container {
  margin-bottom: 20px;
  input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    width: 20vw;
  }
  input::placeholder {
    color: gray;
  }
}

.user-list {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
}

.user-card {
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 5px 5px 2px rgb(241, 240, 240);
  border: 1px solid lightgray;
  border-radius: 15px;
  width: 30vw;
  margin-bottom: 10px;
  padding: 1rem;
}

.selected {
  border: 1px solid rgb(175, 96, 175);
}

.user-profile {
  border-radius: 5px;
  width: 8vw;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .75vw;
}

.user-id {
  position: relative;
  p {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: .75vw;
    font-weight: 500;
  }
}